---
---
// Basic styles
body {
    margin: 0;
}

h1, h2, h3, h4, p, a {
    font-family: 'Raleway', sans-serif;
}

a:link { color:#7E6B8F; text-decoration: none; }
a:visited { color:#7E6B8F; text-decoration: none; }
a:hover { color:#7E6B8F; text-decoration: none; }
a:active { color:#7E6B8F; text-decoration: underline; }

// Header
header {
    background: url(../img/background.jpg) no-repeat center;
    background-color: #f6f6f6;
    height: 100vh;
    margin: 0;
    text-align: center;

    div {
        height: 50vh;
        margin: 0;
    }

    .top-header {
        background-color: rgba(152,221,237,0.7);
        display: flex;
    }

    .bottom-header {
        background-color: rgba(0,53,89,0.7);
    }

    h1 {
        align-self: flex-end;
        color: rgb(0,53,89);
        font-family: 'Lobster', cursive;
        font-size: 3.5em;
        margin: 10px auto;
    }

    h3 {
        color: rgb(152,221,237);
        font-weight: bold;
        height: 50vh;
        margin: 0;
        padding: 2vh 0 0 0;
        text-transform: uppercase;
    }
}

section {
    background-color: #FEFEFE;
    margin: 0 24px;
    padding: 24px 0 0;

    h1 {
        color: #7392B7;
        font-size: 2.4em;
        margin: 24px 0;
        text-align: center;
    }

    h2 {
        font-weight: normal;
        padding-bottom: 20px;
        text-align: left;
    }

    p {
        line-height: 1.4em;
        margin: 20px auto;
    }
}

// Work experience
.work-experience {
    display: flex;
    margin-bottom: 36px;
}

.company-and-period {
    min-width: 260px;

    h2 {
        font-size: 1.3em;
        font-weight: bold;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .company-url {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
        font-weight: normal;
    }
}

.job-description {
    ul {
        list-style: none;
        padding-left: 0;
    }

    h4 {
        font-size: 1.3em;
        margin-top: 0;
    }

    strong::after {
        content: " - "
    }
}

// Components
.avatar {
    border-radius: 50%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    display: block;
    margin: 0 auto;
}

// Desktop specific

@media (min-width: 950px) {
    section {
        margin: 0 auto;
        max-width: 960px;
    }

    .avatar {
        float: right;
        margin-left: 48px;
    }
}
